.article-container {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-column-gap: 10px;
}

@media screen and (max-width: 845px) {
  .article-container {
    display: flex;
    flex-direction: column;
  }
}
