.user-img {
  height: 7rem;
}

.curver-border {
  border-radius: 5px;
}
.mb-xm {
  margin-bottom: 3px;
}

.img-map {
  height: 9rem;
}

.curver-border-sm {
  border-radius: 3px;
}

.text-area {
  padding: 3rem;
}
