.user-details {
  height: 10rem;
}

.user-img {
  height: 7rem;
}

.message-form-container {
  height: 25rem;
}

.curver-border {
  border-radius: 5px;
}
.inp-label {
  margin-bottom: 3px;
}

.curver-border-sm {
  border-radius: 3px;
}

.text-area {
  padding: 3rem;
}
