@import "https://dreamui-v2.netlify.app/dreamui-v1.css";
@import "./components/Article/Article.css";
@import "./components/Footer/Footer.css";
@import "./components/Header/Header.css";
@import "./components/HorizontalCard/HorizontalCard.css";
@import "./components/Navbar/Navbar.css";
@import "./components/Sidebar/Sidebar.css";
@import "./components/VerticalCard/VerticalCard.css";
@import "./pages/Home.css";
:root {
  --black-bg: #28373e;
  --aqua-dark: #29d7bf;
  --aqua-border: #0a8e97;
  --aqua-light: #1ed6ca;
  --grey-dark: #757f83;
  --grey-light: #e9e7e8;
  --grey-light-bg: #ccdadf;
  --grey-prof-dark: #d7d3d2;
  --orange-light: #eeac56;
  --white: #e9e7d8;
}

.black-bg {
  background-color: var(--black-bg);
}
.black-text {
  color: var(--black-bg);
}

.grey-text-color {
  color: var(--grey-light);
}

.aqua-text-dark {
  color: var(--aqua-dark);
}

.aqua-dark-bg {
  background-color: var(--aqua-dark);
}

.grey-light-bg {
  background-color: var(--grey-light);
}
.grey-text {
  color: var(--grey-dark);
}
.white-text {
  color: var(--white);
}

.orange-light-bg {
  background-color: var(--orange-light);
}

.content-container {
  width: calc(100vw - 20rem);
  margin: 0 auto;
}

.pos-relative {
  position: relative;
}

.grey-prof-bg {
  background-color: var(--grey-prof-dark);
}
.italic {
  font-style: italic;
}

.grey-border-bottom {
  border-bottom: 3px solid var(--grey-light-bg);
}
.transparent-border {
  border: 1px solid transparent;
}

@media screen and (max-width: 1000px) {
  .content-container {
    width: calc(100vw - 10rem);
    margin: 0 auto;
  }
}
