.col-3 {
  display: grid;
  grid-template-columns: 2fr 2.5fr 1.5fr;
  grid-column-gap: 10px;
}

.card-img-hori .img-hori {
  border-radius: 5px;
}

.card.hori-card {
  border: 1px solid transparent;
}

.card-img-hori {
  height: 100%;
}
@media screen and (max-width: 1338px) {
  .card-head-hor {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 810px) {
  .card.hori-card {
    display: flex;
    flex-direction: column;
    width: 18rem;
    height: 21rem;
  }

  .card-img-hori {
    width: 100%;
  }

  .horiz-card-continer {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1290px) {
  /* .title-card {
    font-size: 1.3rem;
  }
  .text-card {
    font-size: 0.8rem;
  } */
}
